{%  extends 'base.html' %}
{% block title %} ავტორიზაცია {%  endblock %}

{% block content %}
<form method="post">
    <div class="div-gradient gradient-height center">
      <div>
        <h1 class="authorization-title padding-top-big">ავტორიზაცია</h1>
      </div>
      <div>
        <div class="form">
          <p class="label">ელექტრონული ფოსტა</p>
          <input type="email" class="input" id="email" name="registered_acc_email" required />
          <label for="email"></label>

          <p class="label">პაროლი</p>
          <input type="password" class="input" id="password" name="registered_acc_password" required />
          <label for="password"></label>
          <button type="submit" class="btn-primary" >ავტორიზაცია</button>
        </div>
      </div>
    </div>
  </form>
{% endblock %}