{%  extends 'base.html' %}
{% block title %} დაჯავშნა {%  endblock %}

{% block content %}
<div class="div-gradient">

        <h1 class="clinics">კლინიკები</h1>

    {% for each in range(30) %}
        <div class="clinic-info-wrapper">
            <div class="photo-title-wrapper">

                <div class="img-rate-wrapper">
                    <img class='clinic_logos' src={{ db.session.query(clinic_infos.img_url).all()[each][0] }}>
                    <div class="starrate-wrapper">
                        <p class="ranks"> {{ db.session.query(clinic_infos.rank).all()[each][0] }} </p>
                        <img src="../static/img/star.svg">
                        <img src="../static/img/star.svg">
                        <img src="../static/img/star.svg">
                        <img src="../static/img/star.svg">
                        <img src="../static/img/star.svg">
                    </div>
                </div>
                <div class="clinic-title-wrapper">
                    <h class="clinic-title">{{ db.session.query(clinic_infos.name).all()[each][0]  }}</h>
                    <div class="clinic-services-wrapper">

                        <p class="clinic-services">{{ db.session.query(clinic_infos.categories).all()[each][0] }}</p>

                    </div>
                    <div class="adress-button-wrapper">
                        <div class="misamarti-wrapper">
                            <h class="misamarti">მისამართი</h>
                            <p class="misamarti-text"> {{ db.session.query(clinic_infos.address).all()[each][0]  }}</p>
                        </div>
                        <div class="srulad-button">
                            <a href="clinic-full-info.html"><p class="srulad">სრულად</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
        </div>

{% endblock %}