{%  extends 'base.html' %}
{% block title %} GHP {%  endblock %}

{% block content %}
<div class="div-gradient">

    <div class="Symptom-textarea-wrapper">
        <textarea class="Symptom-textarea" placeholder="სიმპტომები"></textarea>
        <button class="Symptom-textarea-button"> <img src="{{url_for('static', filename='icons/arrow.svg')}}"></button>
    </div>
    <div class="output-logo-wrapper">
        <div class="answer-output"></div>
        <img src="{{url_for('static', filename='img/logo.png')}}">
    </div>
</div>
{% endblock %}