{%  extends 'base.html' %}
{% block title %} GHP {%  endblock %}

{% block content %}

<form method="post">
<div class="div-gradient">

    <div class="Symptom-textarea-wrapper">
        <input type="text" class="ft-textarea symptoms" name="symptoms" required id="name" />
         <button type="submit" class="btn-primary">შეყვანა</button>
    </div>

    <div class="output-logo-wrapper">
        <div class="answer-output">
            <p><strong>{{daavadebebi}}</strong></p>

        </div>
        <img src="{{url_for('static', filename='img/logo.png')}}">
    </div>

</div>
 </form>
{% endblock %}
